<footer class="l-section section-footer">
  <div class="l-container">
    <p>
      このサイトは、同人告知サイトが一瞬で作れる無料テンプレート「Tokusetsu 3」の紹介ページです。<br>デモページおよびデモのスクリーンショットの情報はすべて架空のものです。
    </p>
    <p>
      <a href="<%= siteRootUrl %>" target="_blank">Tokusetsu 3</a> theme designed by <a href="http://www.sanographix.net/" target="_blank">SANOGRAPHIX.NET</a><br>
      Code licensed under MIT License.&nbsp;&nbsp;<a href="https://github.com/sanographix/tokusetsu3">GitHub Project</a>
      <br>
      <a href="http://twitter.com/sanographix" target="_blank">Twitter</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://facebook.com/sanographix.net" target="_blank">Facebook</a>
    </p>
  </div>
</footer>

<% if (pageId === 'index') { %>
  <script src="js/scripts.js"></script>
<% } else { %>
  <script src="../js/scripts.js"></script>
<% } %>

</body>
</html>
