<!DOCTYPE html>
<!--
  Theme: Tokusetsu 3
  by @sanographix
  http://www.sanographix.net
  (c) 2016 Showkaku Sano
  Free to use under the MIT license.
-->
<html prefix="og: http://ogp.me/ns#">
<head>

  <meta charset="utf-8">

  <%# テーマオプション類 %>
  <meta name="font:Title" content="Helvetica Neue"/>
  <meta name="font:Body" content="Helvetica Neue"/>

  <meta name="image:Background Image" content=""/>
  <meta name="image:Header Image" content=""/>
  <meta name="image:Circle Logo" content=""/>
  <meta name="image:Jacket" content=""/>
  <meta name="image:Title Logo" content=""/>
  <meta name="image:Banner" content=""/>
  <meta name="image:Og Image" content=""/>

  <meta name="image:02 l Introduction Heading Image" content="" />
  <meta name="image:06 l Footer Additional Image" content="" />

  <meta name="color:Accent" content="#ed1c24"/>

  <meta name="if:00 l Enable Dark Mode" content="1"/>

  <meta name="select:Header Title Logo Position" content="top" title="Top">
  <meta name="select:Header Title Logo Position" content="middle" title="Middle">
  <meta name="select:Header Title Logo Position" content="bottom" title="Bottom">

  <meta name="select:Global Header Color" content="transparent" title="Transparent">
  <meta name="select:Global Header Color" content="dark" title="Dark">
  <meta name="select:Global Header Color" content="light" title="Light">
  <meta name="select:Global Header Color" content="accent" title="Accent Color">

  <meta name="if:01 l Enable Share Buttons" content="1"/>
  <meta name="if:06 l Footer Additional Content" content="0"/> <%# 挿入されるコンテンツが画像かテキストか判別できないので手動でオンオフさせてる %>

  <%# ブックモード %>
  <meta name="text:Book Mode l Book Sample Heading" content="SAMPLE" />
  <meta name="image:Book Mode l Sample Image 01" content=""/>
  <meta name="image:Book Mode l Sample Image 02" content=""/>
  <meta name="image:Book Mode l Sample Image 03" content=""/>
  <meta name="image:Book Mode l Sample Image 04" content=""/>
  <meta name="image:Book Mode l Sample Image 05" content=""/>
  <meta name="image:Book Mode l Sample Image 06" content=""/>

  <%# テキストエリアのオプション %>
  <meta name="text:01 l Circle Logo Width" content="" />
  <meta name="text:01 l Header Title Width" content="" />

  <meta name="text:02 l Introduction" content="" />
  <meta name="text:02 l Introduction Heading" content="INTRODUCTION" />
  <meta name="text:02 l Introduction Heading Image Width" content="" />

  <meta name="text:03 l Circle Name" content="" />
  <meta name="text:03 l Circle URL" content="" />
  <meta name="text:03 l Spec" content="" />
  <meta name="text:03 l Release Date" content="" />
  <meta name="text:03 l Booth Number" content="" />
  <meta name="text:03 l Price" content="" />

  <meta name="text:03 l Store01 Name" content="" />
  <meta name="text:03 l Store01 URL" content="" />
  <meta name="text:03 l Store02 Name" content="" />
  <meta name="text:03 l Store02 URL" content="" />
  <meta name="text:03 l Store03 Name" content="" />
  <meta name="text:03 l Store03 URL" content="" />
  <meta name="text:03 l Store Buttons Heading" content="AVAILABLE NOW" />

  <meta name="text:04 l Youtube Embed Code" content="" />
  <meta name="text:04 l Soundcloud Embed Code" content="" />
  <meta name="text:04 l Nicovideo Embed Code" content="" />

  <meta name="text:05 l Track01 Title" content="" />
  <meta name="text:05 l Track01 Description" content="" />
  <meta name="text:05 l Track02 Title" content="" />
  <meta name="text:05 l Track02 Description" content="" />
  <meta name="text:05 l Track03 Title" content="" />
  <meta name="text:05 l Track03 Description" content="" />
  <meta name="text:05 l Track04 Title" content="" />
  <meta name="text:05 l Track04 Description" content="" />
  <meta name="text:05 l Track05 Title" content="" />
  <meta name="text:05 l Track05 Description" content="" />
  <meta name="text:05 l Track06 Title" content="" />
  <meta name="text:05 l Track06 Description" content="" />
  <meta name="text:05 l Track07 Title" content="" />
  <meta name="text:05 l Track07 Description" content="" />
  <meta name="text:05 l Track08 Title" content="" />
  <meta name="text:05 l Track08 Description" content="" />
  <meta name="text:05 l Track09 Title" content="" />
  <meta name="text:05 l Track09 Description" content="" />
  <meta name="text:05 l Track10 Title" content="" />
  <meta name="text:05 l Track10 Description" content="" />
  <!--※トラック11以降を追加したい場合、このエリアに追記しましょう（ドキュメント参照）-->

  <meta name="text:06 l Footer Additional Heading" content="" />
  <meta name="text:06 l Footer Additional Text" content="" />

  <meta name="text:07 l Staff01 Name" content="" />
  <meta name="text:07 l Staff01 Role" content="" />
  <meta name="text:07 l Staff01 URL" content="" />
  <meta name="text:07 l Staff02 Name" content="" />
  <meta name="text:07 l Staff02 Role" content="" />
  <meta name="text:07 l Staff02 URL" content="" />
  <meta name="text:07 l Staff03 Name" content="" />
  <meta name="text:07 l Staff03 Role" content="" />
  <meta name="text:07 l Staff03 URL" content="" />
  <meta name="text:07 l Staff04 Name" content="" />
  <meta name="text:07 l Staff04 Role" content="" />
  <meta name="text:07 l Staff04 URL" content="" />
  <meta name="text:07 l Staff05 Name" content="" />
  <meta name="text:07 l Staff05 Role" content="" />
  <meta name="text:07 l Staff05 URL" content="" />
  <meta name="text:07 l Staff06 Name" content="" />
  <meta name="text:07 l Staff06 Role" content="" />
  <meta name="text:07 l Staff06 URL" content="" />
  <!--※スタッフ07以降を追加したい場合、このエリアに追記しましょう（ドキュメント参照）-->

  <meta name="text:08 l Footer Text" content="" />

  <title>{block:PostTitle}{PostTitle} - {/block:PostTitle}{Title}{block:IndexPage}{block:If03lCircleName} - {text:03 l Circle Name}{/block:If03lCircleName}{/block:IndexPage}</title>

  <meta name="viewport" content="width=device-width">
  {block:Description}
    <meta name="description" content="{MetaDescription}" />
    <meta name="og:description" content="{MetaDescription}" />
  {/block:Description}
  <meta property="og:title" content="{block:PostTitle}{PostTitle} - {/block:PostTitle}{Title}{block:IndexPage}{block:If03lCircleName} - {text:03 l Circle Name}{/block:If03lCircleName}{/block:IndexPage}" />
  <meta property="og:type" content="website" />

  <meta property="og:site_name" content="{Title}" />
  {block:IndexPage}
    <link rel="canonical" href="{BlogURL}"/>
    <meta property="og:url" content="{BlogURL}" />
  {/block:IndexPage}
  {block:PermalinkPage}
    <link rel="canonical" href="{Permalink}"/>
    <meta property="og:url" content="{Permalink}" />
  {/block:PermalinkPage}
  <meta name="twitter:card" content="summary_large_image">
  {block:IfOgImageImage}
    <meta name="twitter:image:src" content="{image:Og Image}">
    <meta property="og:image" content="{image:Og Image}" />
  {block:IfOgImageImage}
  {block:IfNotOgImageImage}
    <meta name="twitter:image:src" content="{image:Header Image}">
    <meta property="og:image" content="{image:Header Image}" />
  {block:IfNotOgImageImage}

  {block:IfNot00lEnableDarkMode}
    <link rel="stylesheet" href="http://static.tumblr.com/xxf6ewk/ynDou3xra/style-light.css" />
  {/block:IfNot00lEnableDarkMode}
  {block:If00lEnableDarkMode}
    <link rel="stylesheet" href="http://static.tumblr.com/xxf6ewk/qKTou3xr9/style-dark.css" />
  {/block:If00lEnableDarkMode}

  <link rel="shortcut icon" href="{Favicon}">

</head>
<body class="page-<%= pageId %>"
{block:IfBackgroundImageImage}
  style="background-image: url('{image:Background Image}');"
{/block:IfBackgroundImageImage}
>

<style>
{CustomCSS}

  body {
    font-family: {font:Body};
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: {font:Title};
  }

  a,
  .track-number {
      color: {color:Accent};
  }

  .btn {
      color: {color:Accent};
      border-color: {color:Accent};
  }
  .btn:hover {
    background-color: {color:Accent};
  }

</style>
