<script>
  window.onload = function() {
    var popup = document.getElementById('js-popup');
    if(!popup) return;
    popup.classList.add('is-show');

    var blackBg = document.getElementById('js-black-bg');
    var closeBtn = document.getElementById('js-close-btn');

    closePopUp(blackBg);
    closePopUp(closeBtn);

    function closePopUp(elem) {
      if(!elem) return;
      elem.addEventListener('click', function() {
        popup.classList.remove('is-show');
      })
    }
  }
</script>

<style>
  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 600px;
    background-color: #eeeddc;
    z-index: 2;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  .popup-inner img {
    width: 100%;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }
  .popup-thumb {
    display: block;
  }
  .popup-content {
    padding: 16px 16px 20px;
  }
  .popup-label {
    display: inline-block;
    padding-bottom: .3em;
    margin-bottom: .8em;
    letter-spacing: .4em;
    font-size: 11px;
    border-bottom: 1px solid #191A1C;
  }
  .popup-label:before {
    content: '';
    width: .4em;
    display: inline-block;
  }
  .popup-title {
    font-size: 22px;
    font-weight: bold;
    color: #191A1C;
    margin-bottom: .8em;
  }
  .popup-btn {
    display: inline-block;
    padding: .8rem 1.2rem;
    color: #191A1C;
    border: 1px solid #191A1C;
  }
  .popup-btn:hover {
    color: #eeeddc;
    background-color: #191A1C;
  }


  .header-banner-href {
    display: block;
  }
  .header-banner {
      padding: 50px 0;
      background-repeat: no-repeat;
      background-color: #454141;
      background-position: center;
      background-size: cover;
      color: #fff;
      font-weight: bold;
  }
  @media (min-width: 768px){ .header-banner {
    background-size: cover;
  }}
  .header-banner-inner {
    margin: 0 30% 0 16px;
    max-width: 1140px;
  }
  @media (min-width: 1200px){ .header-banner-inner {
    margin: auto;
  }}
  .header-banner p {
    margin: 0 0 16px;
    font-size: 18px;
  }
  .header-banner-btn {
    display: inline-block;
    padding: .8rem 1.2rem;
    border: 1px solid #fff;
  }
</style>

<a href="https://tokusetsu4.sanographix.net" class="header-banner-href" target="_blank" rel="noopener">
  <div
    style="background-image:url('images/header-banner-tokusetsu4.png');"
    class="header-banner"
    >
    <div class="header-banner-inner">
      <p>今からはじめるなら、新しいTokusetsu 4をおすすめします。</p>
      <span class="header-banner-btn">見てみる</span>
    </div>
  </div>
</a>

<div class="popup" id="js-popup">
  <div class="popup-inner">
    <div class="close-btn" id="js-close-btn"></div>
    <a href="https://tokusetsu4.sanographix.net"  target="_blank" rel="noopener"><img src="images/popup-image-tokusetsu4.png" alt="tokusetsu4" class="popup-thumb"></a>
    <div class="popup-content">
      <div class="popup-label">NEW TEMPLATE</div>
      <p>今からはじめるなら、新しいTokusetsu 4をおすすめします。</p>
      <a href="https://tokusetsu4.sanographix.net"  target="_blank" rel="noopener" class="popup-btn">見てみる</a>
    </div>
  </div>
  <div class="black-background" id="js-black-bg"></div>
</div>

