<% var
pageId = "index";
%>
<% include _header %>

<div class="globalHeader
  is-{select:Global Header Color}
"
style="background-color: {color:Accent};"
>
  <div class="l-container">
    <div class="globalHeader-inner">
      <div class="globalHeader-labelName">
        <a href="{text:03 l Circle URL}">
          {block:IfCircleLogoImage}
          <img class="labelName-logoImg" src="{image:Circle Logo}" alt="{text:03 l Circle Name}" style="width: {text:01 l Circle Logo Width}px;">
          {block:IfCircleLogoImage}
          {block:IfNotCircleLogoImage}
            {text:03 l Circle Name}
          {block:IfNotCircleLogoImage}
        </a>
      </div>
      {block:If01lEnableShareButtons}
        <div class="globalHeader-shareBtns">
          <a href="https://twitter.com/share?text={block:PostTitle}{PostTitle} - {/block:PostTitle}{Title}{block:IndexPage}{block:If03lCircleName} - {text:03 l Circle Name}{/block:If03lCircleName}{/block:IndexPage}&url={BlogURL}" class="btn-tw" target="_blank">
            <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-591 391.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6-1.2-1.3-2.9-2.1-4.8-2.1-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.5-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 2.9 1.9 6.4 2.9 10.1 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.3-1 2.4-2.1 3.3-3.4z"/></svg>
          </a>
          <a href="http://www.facebook.com/sharer.php?u={BlogURL}" class="btn-fb" target="_blank">
            <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-605 417h-6v-16h-4v-5.5h4v-3.2c0-4.5 1.2-7.2 6.5-7.2h4.4v5.5h-2.8c-2.1 0-2.2.8-2.2 2.2v2.8h5l-.6 5.5h-4.4l.1 15.9z"/></svg>
          </a>
        </div>
      {/block:If01lEnableShareButtons}
    </div>
  </div>
</div>

<div class="heroHeader">
  <div class="heroHeader-inner
  is-position-{select:Header Title Logo Position}
  {block:IfHeaderImageImage}has-headerImage{/block:IfHeaderImageImage}
  " style="background-image: url('{image:Header Image}');">
    <header class="header">
      <div class="l-container">
        <h1>
          {block:IfTitleLogoImage}
            <img class="header-logo" src="{image:Title Logo}" alt="{title}" style="width: {text:01 l Header Title Width}px;">
          {/block:IfTitleLogoImage}
        </h1>
      </div>
    </header>
  </div>
</div>

{block:If02lIntroduction}
<section class="l-section section-introduction">
  <div class="l-container">
    {block:If02lIntroductionHeading}
      <header class="section-header">
        <h2>
          {block:If02lIntroductionHeadingImageImage}
            <img class="introduction-heading-image" src="{image:02 l Introduction Heading Image}" alt="{text:02 l Introduction Heading}" style="width: {text:02 l Introduction Heading Image Width}px;">
          {/block:If02lIntroductionHeadingImageImage}
          {block:IfNot02lIntroductionHeadingImageImage}
            {text:02 l Introduction Heading}
          {/block:IfNot02lIntroductionHeadingImageImage}
        </h2>
      </header>
    {/block:If02lIntroductionHeading}
    <div class="section-content">
      <p>
        {text:02 l Introduction}
      </p>
    </div>
  </div>
</section>
{/block:If02lIntroduction}

{block:If04lSoundcloudEmbedCode}
  <section class="l-section section-soundcloud">
    <div class="l-container">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{text:04 l Soundcloud Embed Code}&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
    </div>
  </section>
{/block:If04lSoundcloudEmbedCode}

<section class="l-section section-spec">
  <div class="l-container">
    <div class="l-row">
      <div class="l-span5">
        {block:IfJacketImage}
          <img src="{image:Jacket}" alt="{Title}" class="jacket-image">
        {/block:IfJacketImage}
        {block:IfNotJacketImage}
          <div class="jacket-noimage">
            NOW PRINTING
          </div>
        {/block:IfNotJacketImage}
      </div>
      <div class="l-span7">
        <dl class="spec-dl">
          <dt><span class="spec-dl-label">TITLE</span></dt>
          <dd>{title}</dd>

          <dt><span class="spec-dl-label">CIRCLE</span></dt>
          <dd><a href="{text:03 l Circle URL}">{text:03 l Circle Name}</a></dd>

          <dt><span class="spec-dl-label">SPECIFICATION</span></dt>
          <dd>{text:03 l Spec}</dd>

          <dt><span class="spec-dl-label">RELEASE DATE</span></dt>
          <dd>{text:03 l Release Date}</dd>

          <dt><span class="spec-dl-label">BOOTH</span></dt>
          <dd>{text:03 l Booth Number}</dd>

          <dt><span class="spec-dl-label">PRICE</span></dt>
          <dd>{text:03 l Price}</dd>
          {block:If03lStore01Name}
          <dt><span class="spec-dl-label">STORE</span></dt>
            <dd>
              <ul>
                <li>
                  <a href="{text:03 l Store01 URL}">{text:03 l Store01 Name}</a>
                </li>
                {/block:If03lStore01Name}
                {block:If03lStore02Name}
                <li>
                  <a href="{text:03 l Store02 URL}">{text:03 l Store02 Name}</a>
                </li>
                {/block:If03lStore02Name}
                {block:If03lStore03Name}
                <li>
                  <a href="{text:03 l Store03 URL}">{text:03 l Store03 Name}</a>
                </li>
                {/block:If03lStore03Name}

                {block:If03lStore01Name}
              </ul>
            </dd>
          {/block:If03lStore01Name}
        </dl>
      </div>
    </div>
  </div>
</section>

{block:IfBookModelSampleImage01Image}
  <section class="l-section section-bookSample">
    <div class="l-container">
      <header class="section-header">
        <h2>{text:Book Mode l Book Sample Heading}</h2>
      </header>
      <div class="bookSample-container
      <%# 画像数によってカラム幅を変える %>
        bookSample-items1
        {block:IfBookModelSampleImage02Image} bookSample-items2{/block:IfBookModelSampleImage02Image}
        {block:IfBookModelSampleImage03Image} bookSample-items3{/block:IfBookModelSampleImage03Image}
        {block:IfBookModelSampleImage04Image} bookSample-items4{/block:IfBookModelSampleImage04Image}
        {block:IfBookModelSampleImage05Image} bookSample-items5{/block:IfBookModelSampleImage05Image}
        {block:IfBookModelSampleImage06Image} bookSample-items6{/block:IfBookModelSampleImage06Image}
      ">
          <div class="bookSample-content" data-index="1">
            <img src="{image:Book Mode l Sample Image 01}" class="bookSample-image bookSample-image1">
          </div>
        {/block:IfBookModelSampleImage01Image}

        {block:IfBookModelSampleImage02Image}
          <div class="bookSample-content" data-index="2">
            <img src="{image:Book Mode l Sample Image 02}" class="bookSample-image bookSample-image2">
          </div>
        {/block:IfBookModelSampleImage02Image}

        {block:IfBookModelSampleImage03Image}
          <div class="bookSample-content" data-index="3">
            <img src="{image:Book Mode l Sample Image 03}" class="bookSample-image bookSample-image3">
          </div>
        {/block:IfBookModelSampleImage03Image}

        {block:IfBookModelSampleImage04Image}
          <div class="bookSample-content" data-index="4">
            <img src="{image:Book Mode l Sample Image 04}" class="bookSample-image bookSample-image4">
          </div>
        {/block:IfBookModelSampleImage04Image}

        {block:IfBookModelSampleImage05Image}
          <div class="bookSample-content" data-index="5">
            <img src="{image:Book Mode l Sample Image 05}" class="bookSample-image bookSample-image5">
          </div>
        {/block:IfBookModelSampleImage05Image}

        {block:IfBookModelSampleImage06Image}
          <div class="bookSample-content" data-index="6">
            <img src="{image:Book Mode l Sample Image 06}" class="bookSample-image bookSample-image6">
          </div>
        {/block:IfBookModelSampleImage06Image}

        {block:IfBookModelSampleImage01Image}
      </div>
    </div>
  </section>
{/block:IfBookModelSampleImage01Image}

<%# Lightbox用 %>
{block:IfBookModelSampleImage01Image}
<div class="bookSample-lightbox" data-index="1">
  <img src="{image:Book Mode l Sample Image 01}" class="bookSample-lightbox-image bookSample-lightbox-image1">
</div>
{/block:IfBookModelSampleImage01Image}

{block:IfBookModelSampleImage02Image}
<div class="bookSample-lightbox" data-index="2">
  <img src="{image:Book Mode l Sample Image 02}" class="bookSample-lightbox-image bookSample-lightbox-image2">
</div>
{/block:IfBookModelSampleImage02Image}

{block:IfBookModelSampleImage03Image}
<div class="bookSample-lightbox" data-index="3">
  <img src="{image:Book Mode l Sample Image 03}" class="bookSample-lightbox-image bookSample-lightbox-image3">
</div>
{/block:IfBookModelSampleImage03Image}

{block:IfBookModelSampleImage04Image}
<div class="bookSample-lightbox" data-index="4">
  <img src="{image:Book Mode l Sample Image 04}" class="bookSample-lightbox-image bookSample-lightbox-image4">
</div>
{/block:IfBookModelSampleImage04Image}

{block:IfBookModelSampleImage05Image}
<div class="bookSample-lightbox" data-index="5">
  <img src="{image:Book Mode l Sample Image 05}" class="bookSample-lightbox-image bookSample-lightbox-image5">
</div>
{/block:IfBookModelSampleImage05Image}

{block:IfBookModelSampleImage06Image}
<div class="bookSample-lightbox" data-index="6">
  <img src="{image:Book Mode l Sample Image 06}" class="bookSample-lightbox-image bookSample-lightbox-image6">
</div>
{/block:IfBookModelSampleImage06Image}

{block:If03lStore01Name}
<section class="l-section section-buy">
  <div class="l-container">
    <header class="section-header">
      <h2>{text:03 l Store Buttons Heading}</h2>
    </header>
    <div class="spec-buy-container">
      <a href="{text:03 l Store01 URL}" class="spec-buy-button btn">{text:03 l Store01 Name}</a>
      {/block:If03lStore01Name}
      {block:If03lStore02Name}
      <a href="{text:03 l Store02 URL}" class="spec-buy-button btn">{text:03 l Store02 Name}</a>
      {/block:If03lStore02Name}
      {block:If03lStore03Name}
      <a href="{text:03 l Store03 URL}" class="spec-buy-button btn">{text:03 l Store03 Name}</a>
      {block:If03lStore03Name}
    {block:If03lStore01Name}
    </div>
  </div>
</section>
{/block:If03lStore01Name}

{block:If05lTrack01Title}
  <section class="l-section section-tracklist">
    <div class="l-container">
      <header class="section-header">
        <h2>TRACKLIST</h2>
      </header>
      <div class="section-content">
        <ol class="tracklist">
            <li class="track-container">
              <div class="track-number">01</div>
              <div class="track-content">
                <span class="track-title">{text:05 l Track01 Title}</span>
                <span class="track-meta">{text:05 l Track01 Description}</span>
              </div>
            </li>
          {/block:If05lTrack01Title}
          {block:If05lTrack02Title}
          <li class="track-container">
            <div class="track-number">02</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track02 Title}</span>
              <span class="track-meta">{text:05 l Track02 Description}</span>
            </div>
          </li>
          {/block:If05lTrack02Title}
          {block:If05lTrack03Title}
          <li class="track-container">
            <div class="track-number">03</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track03 Title}</span>
              <span class="track-meta">{text:05 l Track03 Description}</span>
            </div>
          </li>
          {/block:If05lTrack03Title}
          {block:If05lTrack04Title}
          <li class="track-container">
            <div class="track-number">04</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track04 Title}</span>
              <span class="track-meta">{text:05 l Track04 Description}</span>
            </div>
          </li>
          {/block:If05lTrack04Title}
          {block:If05lTrack05Title}
          <li class="track-container">
            <div class="track-number">05</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track05 Title}</span>
              <span class="track-meta">{text:05 l Track05 Description}</span>
            </div>
          </li>
          {/block:If05lTrack05Title}
          {block:If05lTrack06Title}
          <li class="track-container">
            <div class="track-number">06</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track06 Title}</span>
              <span class="track-meta">{text:05 l Track06 Description}</span>
            </div>
          </li>
          {/block:If05lTrack06Title}
          {block:If05lTrack07Title}
          <li class="track-container">
            <div class="track-number">07</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track07 Title}</span>
              <span class="track-meta">{text:05 l Track07 Description}</span>
            </div>
          </li>
          {/block:If05lTrack07Title}
          {block:If05lTrack08Title}
          <li class="track-container">
            <div class="track-number">08</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track08 Title}</span>
              <span class="track-meta">{text:05 l Track08 Description}</span>
            </div>
          </li>
          {/block:If05lTrack08Title}
          {block:If05lTrack09Title}
          <li class="track-container">
            <div class="track-number">09</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track09 Title}</span>
              <span class="track-meta">{text:05 l Track09 Description}</span>
            </div>
          </li>
          {/block:If05lTrack09Title}
          {block:If05lTrack10Title}
          <li class="track-container">
            <div class="track-number">10</div>
            <div class="track-content">
              <span class="track-title">{text:05 l Track10 Title}</span>
              <span class="track-meta">{text:05 l Track10 Description}</span>
            </div>
          </li>
          {/block:If05lTrack10Title}

          <!--※トラック11以降を追加したい場合、このエリアに追記しましょう（ドキュメント参照）-->

          {block:If05lTrack01Title}
        </ol>
      </div>
    </div>
  </section>
{/block:If05lTrack01Title}

{block:If04lYoutubeEmbedCode}
<section class="l-section section-youtube">
  <div class="l-container">
    <div class="section-content">
      <div id="youtube-iframe" class="video-wrap">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{text:04 l Youtube Embed Code}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
{/block:If04lYoutubeEmbedCode}

{block:If04lNicovideoEmbedCode}
<section class="l-section section-nicovideo">
  <div class="l-container">
    <div class="section-content">
      <div id="nicovideo-player" class="nicovideo-player">
        <script type="application/javascript" src="https://embed.nicovideo.jp/watch/{text:04 l Nicovideo Embed Code}/script?w=640&h=360"></script>
        <noscript><a href="http://www.nicovideo.jp/watch/{text:04 l Nicovideo Embed Code}">{text:04 l Nicovideo Embed Code}</a></noscript>
      </div>
    </div>
  </div>
</section>
{/block:If04lNicovideoEmbedCode}

{block:If06lFooterAdditionalContent}
<section class="l-section section-additionalContent">
  <div class="l-container">
    {block:If06lFooterAdditionalHeading}
      <header class="section-header">
        <h2>{text:06 l Footer Additional Heading}</h2>
      </header>
    {/block:If06lFooterAdditionalHeading}
    <div class="section-content">
      {block:If06lFooterAdditionalText}
        <p class="additionalContent-text">{text:06 l Footer Additional Text}</p>
      {/block:If06lFooterAdditionalText}
      {block:If06lFooterAdditionalImageImage}
        <div class="additionalContent-image-wrapper">
          <img src="{image:06 l Footer Additional Image}" class="additionalContent-image">
        </div>
      {block:If06lFooterAdditionalImageImage}
    </div>
  </div>
</section>
{/block:If06lFooterAdditionalContent}

{block:If07lStaff01Name}
  <section class="l-section section-credit">
    <div class="l-container">
      <header class="section-header">
        <h2>CREDIT</h2>
      </header>
      <div class="section-content">
        <ul class="credit">
          <li>
            <span class="credit-role">{text:07 l Staff01 Role}</span>
            <span class="credit-title">{text:07 l Staff01 Name}</span>
            <span class="credit-website">
              <a href="{text:07 l Staff01 URL}" class="credit-website-link btn">Website</a>
            </span>
          </li>
        {/block:If07lStaff01Name}
        {block:If07lStaff02Name}
        <li>
          <span class="credit-role">{text:07 l Staff02 Role}</span>
          <span class="credit-title">{text:07 l Staff02 Name}</span>
          <span class="credit-website">
            <a href="{text:07 l Staff02 URL}" class="credit-website-link btn">Website</a>
          </span>
        </li>
        {/block:If07lStaff02Name}
        {block:If07lStaff03Name}
        <li>
          <span class="credit-role">{text:07 l Staff03 Role}</span>
          <span class="credit-title">{text:07 l Staff03 Name}</span>
          <span class="credit-website">
            <a href="{text:07 l Staff03 URL}" class="credit-website-link btn">Website</a>
          </span>
        </li>
        {/block:If07lStaff03Name}
        {block:If07lStaff04Name}
        <li>
          <span class="credit-role">{text:07 l Staff04 Role}</span>
          <span class="credit-title">{text:07 l Staff04 Name}</span>
          <span class="credit-website">
            <a href="{text:07 l Staff04 URL}" class="credit-website-link btn">Website</a>
          </span>
        </li>
        {/block:If07lStaff04Name}
        {block:If07lStaff05Name}
        <li>
          <span class="credit-role">{text:07 l Staff05 Role}</span>
          <span class="credit-title">{text:07 l Staff05 Name}</span>
          <span class="credit-website">
            <a href="{text:07 l Staff05 URL}" class="credit-website-link btn">Website</a>
          </span>
        </li>
        {/block:If07lStaff05Name}
        {block:If07lStaff06Name}
        <li>
          <span class="credit-role">{text:07 l Staff06 Role}</span>
          <span class="credit-title">{text:07 l Staff06 Name}</span>
          <span class="credit-website">
            <a href="{text:07 l Staff06 URL}" class="credit-website-link btn">Website</a>
          </span>
        </li>
        {/block:If07lStaff06Name}

        <!--※スタッフ07以降を追加したい場合、このエリアに追記しましょう（ドキュメント参照）-->

        {block:If07lStaff01Name}
      </ul>
    </div>
  </div>
</section>
{/block:If07lStaff01Name}

{block:IfBannerImage}
<section class="l-section section-banner">
  <header class="section-header">
    <h2>BANNER</h2>
  </header>
  <div class="l-container">
    <div class="section-content">
      <img src="{image:Banner}">
    </div>
  </div>
</section>
{block:IfBannerImage}

{block:If01lEnableShareButtons}
<section class="l-section section-share">
  <div class="l-container">
    <div class="footer-shareBtns">
      <a href="https://twitter.com/share?text={block:PostTitle}{PostTitle} - {/block:PostTitle}{Title}{block:IndexPage}{block:If03lCircleName} - {text:03 l Circle Name}{/block:If03lCircleName}{/block:IndexPage}&url={BlogURL}" class="btn-tw" target="_blank">
        <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-591 391.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6-1.2-1.3-2.9-2.1-4.8-2.1-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.5-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 2.9 1.9 6.4 2.9 10.1 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.3-1 2.4-2.1 3.3-3.4z"/></svg>
      </a>
      <a href="http://www.facebook.com/sharer.php?u={BlogURL}" class="btn-fb" target="_blank">
        <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-605 417h-6v-16h-4v-5.5h4v-3.2c0-4.5 1.2-7.2 6.5-7.2h4.4v5.5h-2.8c-2.1 0-2.2.8-2.2 2.2v2.8h5l-.6 5.5h-4.4l.1 15.9z"/></svg>
      </a>
    </div>
  </div>
</section>
{/block:If01lEnableShareButtons}

<!-- Note: Do not delete the following section.
ここから先のセクションは消去しないでください -->
<footer class="l-section section-footer">
  <div class="l-container">
    <div class="footer-content">
      <div class="footer-copyright">
        <span class="footer-title">
          <a href="{BlogURL}">
            {title}
          </a>
        </span>
        <span class="footer-copyright">
          ©{CopyrightYears}
          <a href="{text:03 l Circle URL}">
            {text:03 l Circle Name}
          </a>
        </span>
        {block:If08lFooterText}
          <p class="footer-text">{text:08 l Footer Text}</p>
        {/block:If08lFooterText}
      </div>
      <div class="footer-theme">
        <div class="footer-theme-author">
          <span class="footer-theme-tokusetsu3">
            Made with
            <a href="http://sanographix.github.io/tokusetsu3/" target="_blank">Tokusetsu 3</a>
          </span>
          <span class="footer-theme-">
            Template designed by <a href="http://www.sanographix.net/" target="_blank">SANOGRAPHIX.NET</a>
          </span>
        </div>
        <div class="install-button">
          <a href="http://sanographix.github.io/tokusetsu3/" class="footer-install-btn" target="_blank">Install theme</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<% include _footer %>
