<div class="container">
  <nav class="nav">
    <ul>
      <li><a href="./" class="<% if (pageId === 'docs-index') { %>is-selected<% } %>">ドキュメント ホーム</a></li>
      <li><a href="./start.html" class="<% if (pageId === 'docs-start') { %>is-selected<% } %>">はじめよう</a></li>
      <li><a href="./customize.html" class="<% if (pageId === 'docs-customize') { %>is-selected<% } %>">各項目のカスタマイズ</a></li>
      <li><a href="./publish.html" class="<% if (pageId === 'docs-publish') { %>is-selected<% } %>">いよいよ公開、その前に</a></li>
      <li><a href="./tips.html" class="<% if (pageId === 'docs-tips') { %>is-selected<% } %>">うまく作るコツ</a></li>
      <li><a href="./faq.html" class="<% if (pageId === 'docs-faq') { %>is-selected<% } %>">よくある質問</a></li>
    </ul>
  </nav>
  <div class="main">
