<% var
pageTitle = "よくある質問 | Docs";
pageId = "docs-faq";
pageUrl = "/docs/faq.html";
pageDescription = "Tokusetsu 3 docs";
%>
<% include ../_header %>
<% include _docs-nav %>

<nav class="main-nav">
  <a href="./tips.html">＜ うまく作るコツ</a>
</nav>

<h1>よくある質問</h1> 

<h2>Q: トラックリストやスタッフリストを自分で増やしたところ、ページ上部に空白ができる</h2>
<p>トラックリストやスタッフリストを増やした際、インデントに全角スペースを使っていませんか？ ドキュメント<a href="tips.html#how-to-add-tracklist">「うまく作るコツ」</a>を参照してください。</p>

<h2>Q: シェアしてもTwitterカードが正しく表示されない</h2>
<p>お使いのTumblrが、「パスワード認証が設定されていない」かつ「検索結果にこのブログの表示を許可する」設定になっているか確認してください（その条件でのみ正しくシェアされます）。</p>
<p><a href="customize.html">各項目のカスタマイズ</a>の「<span class="badge">必須</span>」項目がすべて正しく入力されているか確認してください。未入力の項目があるとTwitterカードが正しく表示されません。</p>
<p>Twitterカードの検証には <a href="https://cards-dev.twitter.com/validator">validator</a> を使うとよいです。キャッシュの問題で、何度かvalidatorにかけるとうまく表示される場合があるようです。</p>
<p>なお、Twitter側でTwitterカードの情報を更新するのに数時間程度かかるようです。設定を変更したあと、しばらく経ってからツイートをお試しください。</p>

<h2>Q: 記事を書いて投稿しても何も起きない</h2>
<p>ごめんなさい、仕様です。このテンプレートをブログ的に使うことはできません。ブログとして使いたい場合は別のTumblrテンプレートを使ってください。</p>

<h2>Q: テーマの編集から「ページの追加」をしても何も起きない</h2>
<p>仕様です。固定ページ（静的ページ）には対応していません。前バージョン「Tokusetsu 2」なら対応しているので、そちらを検討ください。</p>

<h2>Q: 同人誌・同人音楽CD以外にも使えますか</h2>
<p>頑張れば使えなくもないですが、かなり頑張らないといけないのと、HTMLの知識が必要です。なお、HTMLを改変した場合はサポート対象外です。</p>

<h2>Q: スマホのブラウザで見たら違うテーマになっています</h2>
<p>「▾ 詳細設定」の「モバイルレイアウトを使用する」の チェックを外してください。</p>

<h2>Q: スマホのTumblrアプリから見たら違うテーマになっています</h2>
<p>申し訳ありませんがTumblrアプリには対応していません。</p>

<h2>Q: 埋め込みパーツや特定のスクリプトがうまく動きません</h2>
<p>ブログの設定画面の「常にブログをSSLで処理する」をオフにすると、解決することがあります。</p>

<h2>Q: ページに広告が表示されるのですが</h2>
<p>Tumblr側の仕様です。Tumblrの設定で無効にできます（2017年4月現在）。</p>

<h2>Q: 本当に無料ですか？</h2>
<p>はい、無料です。<br>気に入っていただけたら、何か寄付していただけるとありがたいです（任意です）
<a href="https://www.amazon.co.jp/registry/wishlist/2QLOE7F0CGUSX?sort=priority">http://www.amazon.co.jp/registry/wishlist/2QLOE7F0CGUSX</a></p>

<h2>Q: 商用利用してもいいですか？</h2>
<p>問題ありません。ただし Tumblr の利用規約に違反するコンテンツには使えません。</p>

<h2>Q: HTML や CSS を改変してもいいですか？</h2>
<p>はい。MIT ライセンスですのでライセンスの範囲内で自由にカスタマイズできます。</p>

<h2>上記以外の質問</h2>
<p><a href="http://www.sanographix.net/contact/">メールフォーム</a>よりお問い合わせください。なお、HTML/CSS/JSのカスタマイズについてのサポートは行っていません。</p>

<% include _docs-footer %>
<% include ../_footer %>
