<% var
pageTitle = "ドキュメント";
pageId = "docs-index";
pageUrl = "/docs/";
pageDescription = "Tokusetsu 3 docs";
%>
<% include ../_header %>
<% include _docs-nav %>

    <h1>Tokusetsu 3 ドキュメントへようこそ</h1>
    <img src="../images/og-image.jpg">
    <p>
    Tokusetsu 3 は、同人誌・同人音楽 CD の告知サイトが簡単に作れる無料 Tumblr テンプレートです。
    HTML の知識を必要とせず、フォームに情報を入力していくだけで告知サイトが作れます。
    <a href="https://twitter.com/sanographix">@sanographix</a> が作っています。
    </p>

    <h2>デモを見る</h2>

    <p>デモページはこちらです。</p>
    <ul>
      <li><a href="http://tokusetsu3-sanographixtheme.tumblr.com">http://tokusetsu3-sanographixtheme.tumblr.com</a></li>
    </ul>

    <h2>対応ブラウザ</h2>

    <ul>
      <li>IE11, Edge</li>
      <li>Win / Mac 版 Chrome, Firefox, Opera 各最新版</li>
      <li>Mac 版  Safari 最新版</li>
      <li>iOS Safari 最新版</li>
      <li>Chrome for Android 最新版</li>
    </ul>
    <p>上記以外のブラウザはサポートしていません。</p>

    <aside class="caution">
      <h3>ご了承ください</h3>
    このテンプレートは Tumblr 公式ではありません。このテンプレートによってトラブルが発生しても、 Tumblr のサポート対象外である可能性が非常に高いです。あらかじめご了承のうえご利用ください。
    </aside>

    <p>次のページでインストール方法を解説します。</p>

    <a href="start.html" class="btn btn-primary btn-full">次のページへすすむ</a>

<% include _docs-footer %>
<% include ../_footer %>
