<% var
pageTitle = "いよいよ公開、その前に | Docs";
pageId = "docs-publish";
pageUrl = "/docs/publish.html";
pageDescription = "Tokusetsu 3 docs";
%>
<% include ../_header %>
<% include _docs-nav %>

<nav class="main-nav">
  <a href="./customize.html">＜ 各項目のカスタマイズ</a>
  <a href="./tips.html">うまく作るコツ ＞</a>
</nav>

<h1>いよいよ公開、その前に</h1>

<div class="progressBar-wrapper">
  <span>進捗バー</span>
  <div class="progressBar">
    <div class="progress" style="width: 75%"></div>
  </div>
</div>

<p>公開する準備はできましたか？ そのまえに動作確認を忘れずに。</p>

<h2>ブラウザの横幅を伸び縮みさせて、崩れないか確認する</h2>
<p>ブラウザの横側を掴んで左右に大きく動かし、ページ全体を伸び縮みさせてみましょう。Tokusetsu 3 はどんなブラウザ幅でも綺麗に見えるよう設計されていますが、各画像の構図や各文言の長さによっては、意図せず表示が崩れることがあります。もし特定の幅で崩れる場合、各画像のサイズや構図、各文章の量を調整してください。</p>

<h2>スマートフォンでページを開いて、表示を確認する</h2>
<p>スマートフォンでページを開いたときに、意図せず崩れないかチェックしてください。特に<font color="red">「モバイルレイアウトを使用する」の チェックは必ず外してください</font>。外さないとスマートフォンで崩れます。再度確認しておきましょう。</p>
<p>なお、PCからブラウザ幅を縮めただけで確認完了とせず、必ずスマートフォン実機で確認してください。（Tumblr側のコードがUserAgentをみて出し分けする仕様であるためです）</p>

<h2>シェアボタンを押して文言を確認する</h2>
<p>（シェアボタンを有効にしている場合）ページのヘッダとフッタにあるシェアボタンをそれぞれクリックしてみて、文言に間違いがないか確認しましょう。確認完了したらツイートはせずにウィンドウを閉じてください。</p>
<p>また、FacebookやTwitterの公式に提供されているデバッガーを通すと、シェアされたときの見え方を確認できたり、エラーのチェックができて安心です。下記のデバッガーを利用しましょう。</p>
<ul>
  <li><a href="https://developers.facebook.com/tools/debug/sharing">Sharing Debugger - 開発者向けFacebook</a>（※開発者登録が必要です）
  <li><a href="https://cards-dev.twitter.com/validator">Card Validator | Twitter Developers</a>
</ul>

<h2>パスワード認証を解除する</h2>
<p>ブログにパスワード認証で非公開にしていた場合は解除しておきましょう。</p>

<h2>さあ、公開しよう</h2>
<p>ページに問題がないことを確認したら、いよいよ公開しましょう。TwitterやFacebookなどお好みの方法で告知してください。</p>
<p>これでTokusetsu 3のチュートリアルは終了です。お疲れ様でした。</p>
<p>次ページでは、チュートリアルで書ききれなかったTipsを紹介しますので参考にしてください。</p>
<a href="tips.html" class="btn btn-primary btn-full">次のページへすすむ</a>

<% include _docs-footer %>
<% include ../_footer %>
